# Configuración PostgreSQL (EDITAR CON TUS DATOS)
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=
DATABASE_URL=

# Stripe (claves de TEST)
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

# App
PORT=3000
FRONTEND_URL=
NODE_ENV=development